<%- include('../layouts/header') %>

<div class="page-wrapper">
 

    <main class="main">


        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-color: rgb(255, 255, 255); " >
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                
                                <h3>Change Password</h3>
                            </li>
                        
                        </ul>
                        <div class="tab-content mt-3">
                            <div aria-labelledby="signin-tab-2">
                                <form action="/renewPassword" method="post" onsubmit="return validatePasswordForm()">
                                    <div class="form-group">
                                        <label for="singin-email-2">Enter password</label>
                                        <input type="password" class="form-control" name="password" id="password1">
                                        <div id="invalid" style="height: 30px; color: red;"></div>

                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="singin-email-2">Re-enter password</label>
                                        <input type="password" class="form-control" id="password2">
                                        <div id="invalid" style="height: 30px; color: red;"></div>

                                    </div><!-- End .form-group -->


                        
                                    <div id="invalid" style="height: 30px;">
                                        <% if (typeof message !== 'undefined' && message) { %>
                                            <p style="color: red;" id="message"><%= message %></p>
                                        <% } %>
                                    </div>

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>change password</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                            
                                    </div><!-- End .form-footer -->
                                </form>
                
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->





    <script>
        function validatePasswordForm() {
            var password1 = document.getElementById('password1').value;
            var password2 = document.getElementById('password2').value;
            var invalidDiv = document.getElementById('invalid');
    
            if (password1 === "" || password2 === "") {
                invalidDiv.textContent = "Both password fields must be filled out.";
                return false;
            }
    
            if (password1 !== password2) {
                invalidDiv.textContent = "Passwords do not match. Please re-enter.";
                return false;
            }
    
            if (password1.length < 8) {
                invalidDiv.textContent = "Password must be at least 8 characters long.";
                return false;
            }
    
            // Check for strong password criteria
            if (!isStrongPassword(password1)) {
                invalidDiv.textContent = "Password must be strong (include uppercase, lowercase, digit, and special character).";
                return false;
            }
    
            return true;
        }
    
        function isStrongPassword(password) {
            // Add your strong password criteria using regular expressions
            const regexUpperCase = /[A-Z]/;
            const regexLowerCase = /[a-z]/;
            const regexDigit = /\d/;
            const regexSpecialChar = /[!@#$%^&*(),.?":{}|<>]/;
    
            return (
                regexUpperCase.test(password) &&
                regexLowerCase.test(password) &&
                regexDigit.test(password) &&
                regexSpecialChar.test(password)
            );
        }
    </script>
    

<style>
    
input::file-selector-button {

color: rgb(37, 139, 255);
border: solid rgb(37, 139, 255) 1px;
background-color: white;



}

</style>
  





<%- include('../layouts/footer.ejs') %>